:host { width: 100%; }

.row > div { padding-bottom: 2rem; }

img {   
    filter: blur(2px);
    object-fit: cover;
    height: 15rem;
    border-top-left-radius: calc(1.5rem - 1px);
    border-top-right-radius: calc(1.5rem - 1px);
}

.card {
    border-bottom: 0;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

h4 {
    padding: 0 0.3rem;
    border-radius: 0.5rem;
    background-color: #ffffffb3;
}

.progress { border-radius: 0; }

a {
    height: 4rem;
    border-bottom-left-radius: calc(1.5rem - 1px) !important;
    border-bottom-right-radius: calc(1.5rem - 1px) !important;
}

.btn { border-radius: 0; }

@media screen and (max-width:576px) {
    .row {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width:768px) {
    .card p { font-size: 0.9rem; }
}

@media screen and (max-width: 991px) {
    img { height: 10rem; }
}