#user > div > img {
    height: 10rem;
    width: 10rem;
    object-fit:cover;
}

#user a {
    width: fit-content;
    font-size: 0.8rem;
}

#user a > img{
    width: 20%;
}

/*
 MEDIA QUERIES */

@media screen and (max-width: 992px) {
    #user > div > img {
        height: 8rem;
        width: 8rem;
    }
}

@media screen and (max-width: 575px) {
    #user p {
        font-size: rem;
    }
}



/* SEARCHBAR DEI CORSI */
/* ? creare component per searchbar? */

label {
    margin-left: 0.1rem;
}

input {
    padding-left: 0.4rem;
    border-radius: 0.5rem;
}

#searchbar-filter button {
    width: 2.5rem;
    background-image: url(src/assets/img/outline_search_black_24dp.png);
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

#searchbar-filter input {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/* MEDIA QUERIES SEARCHBAR */

@media screen and (max-width: 1199px) {
    #searchform {
        display: none !important;
    }
}

@media screen and (min-width: 1200px) {
    #searchbar-filter {
        display: none !important;
    }
}

/* ! CARD PROVVISORIA */

#provvisoria img {   
    opacity: 0.9;
    object-fit: cover;
    height: 15rem;
}

#provvisoria a {
    height: 4rem;
    border-bottom-left-radius: calc(1.5rem - 1px) !important;
    border-bottom-right-radius: calc(1.5rem - 1px) !important;
}

#provvisoria .btn {
    border-radius: 0;
}

.card {
    border-bottom: 0;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-img-top {
    filter: blur(2px);
    border-top-left-radius: calc(1.5rem - 1px);
    border-top-right-radius: calc(1.5rem - 1px);
}

@media screen and (max-width:767px) {
    .card p {
        font-size: 0.9rem;
    }
}