DIOBESTIA

<div class="container mt-5">
    <div class="row">
        <div class="col-6 d-flex">
            <div class="mr-3">
                <img src="#" class="rounded-circle p-5">
            </div>
            <div>
                <h1>Alberto Gloder</h1>
                <div class="d-flex">
                    <p>Posizione</p>
                    <span class="mx-2">|</span>
                    <p>Azienda</p>
                </div>
                <p class="d-flex mt-auto">mail.aziendale@gmail.com</p>
            </div>
        </div>
        <div class="col-6 d-flex flex-column align-items-end">
            <h4>I tuoi gruppi</h4>
            <p>Carraro SPA</p>
            <p>Addetti vendite Carraro</p>
            <p>Gestore POS</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            certificati
        </div>
    </div>
</div>

<div class="container mt-5">
    <app-card></app-card>
</div>