ul {
    margin: 0;
    list-style: none;
}

ul > li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media screen and (max-width: 575px) {
    .btn {
        text-align: left;
    }
    a {
        justify-content: left;
    }
}