.container-fluid a {
    width: fit-content;
    border-radius: calc(1.5rem - 1px);
}

#calendari a {
    flex-direction: row;
    align-items: center;
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 575px) {
    .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }

    p { font-size: 0.7rem; }

    #calendari { margin-bottom: 0.5rem; }

    #calendari a { width: fit-content; }

    #calendari a:not(:last-child) { margin-bottom: 0.25rem; }

    #calendari button:not(:last-child) { margin-bottom: 0.5rem; }
}

@media screen and (max-width: 767px) {
    #calendari { justify-content: space-around; }
}