ul {
  margin: 0;
  list-style: none;
}

li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.ellipsis-one {
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 575px) {
  a {
    justify-content: left;
    text-align: left;
  }
}