a {
    color: inherit;
}
    
@media screen and (max-width: 767px) {
    a {
        font-size: 0.9rem;
    }
}

#btn-back {
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: transparent;
}

#btn-back a {
    position: -webkit-sticky;
    position: sticky;
    top: 1.5rem;
    background-image: url(/assets/img/outline_arrow_back_white_24dp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--grigio-test);
}

// * SIDEBAR

#sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    background-color: aqua;
    position: absolute;
    z-index: 1;
    top: calc(0 - 2.5rem);
    left: 0;
    height: 100%;
    width: 20rem;
}