<div class="col-12 col-sm-6 col-lg-4 col-xl-3" [ngClass]="inputClass"
  *ngFor="let corso of corsi | slice: sliceStart:sliceEnd">
  <div class="carta overflow-hidden">
    <div class="carta-img d-flex align-items-center overflow-hidden">
      <h4 class="ellipsis px-3 w-100">{{ corso.titolo }}</h4>
      <img class="w-100 img-fluid" [src]="corso.img" />
    </div>
    <div class="carta-body px-3">
      <p>Avanzamento corso: {{ corso.progresso }}%</p>
      <ngb-progressbar class="my-3" type="primary" [value]="corso.progresso" height="0.25rem">
      </ngb-progressbar>
      <p>Data scadenza: {{ corso.scadenza }}</p>
    </div>
    <div class="carta-btn">
      <a class="btn btn-primary btn-block rounded-0 py-3" routerLink="/pagina-corso">
        Vedi corso
      </a>
    </div>
  </div>
</div>

<!-- vedi tutti -->
<div *ngIf="showSeeAll" class="col-12 col-xl-3 col-lg-4 col-sm-6">
  <a class="carta btn btn-primary justify-content-center align-items-center" routerLink="/pagina-utente">
    <img src="/assets/icons/more_white.svg" class="w-50" />
  </a>
</div>