.carta {
  height: 25.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: calc(1.5rem - 1px);
  box-shadow: 1px 3px 10px var(--grigio-test);
}

.carta:hover {
  transform: scale(0.98);
  transition: 250ms;
}

.carta-img {
  position: relative;
}

.carta-img img {
  aspect-ratio: 1.25/1;
  object-fit: cover;
  transform: scale(1.03);
  filter: blur(5px);
}

h4 {
  position: absolute;
  z-index: 1;
  background-color: rgba(212, 212, 212, 0.5);
}

ngb-progressbar {
  border-radius: 0;
}